<h1>Selectores Anidados</h1>
<hr>

<form [formGroup]="selectorForm" autocomplete="off">
    <div class="row mb-3">
        <div class="col">
            <label for="" class="form-label">Continente:</label>
            <select class="form-control" formControlName="region">
                <option value="">-- Seleccione el Continente --</option>
                <option [value]="region" *ngFor="let region of regions">{{region}}</option>
            </select>
        </div>
    </div>
    <div class="row mb-3" *ngIf="hasCountriesByRegion">
        <div class="col">
            <label for="" class="form-label">País:</label>
            <select class="form-control" formControlName="country">
                <option value="">-- Seleccione el País --</option>
                <option [value]="country.cca3" *ngFor="let country of countriesByRegion">{{country.name}}</option>
            </select>
        </div>
    </div>  
    <div class="row mb-3" *ngIf="hasCurrentBorders">
        <div class="col">
            <label for="" class="form-label">Fronteras:</label>
            <select class="form-control" formControlName="borders">
                <option value="">-- Seleccione la Frontera --</option>
                <option [value]="country.cca3" *ngFor="let country of currentBorders">{{country.name}}</option>
            </select>
        </div>
    </div>        
</form>

<h3>Formulario</h3>
<code>
    {{ selectorForm.value | json }}
</code>